.container {
	width: 40%;
	height: 700px;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
}

.header {
	color: black;
	padding: 5px;
	text-align: center;
	font-family: Tahoma, sans-serif;
}